In [1]:
import pandas as pd
import numpy as np

In [17]:
df=pd.read_csv("1. Weather Data.csv")

In [19]:
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [21]:
df.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [29]:
# Convert 'Date/Time' to datetime format for easier manipulation
df['Date/Time'] = pd.to_datetime(df['Date/Time'], format='%d/%m/%Y %H:%M')

In [49]:
# Extract Year and Month
df['Year'] = df['Date/Time'].dt.year
df['Month'] = df['Date/Time'].dt.month
df['Day'] = df['Date/Time'].dt.day

In [51]:
# Calculate Daily averages
daily_avg = df.groupby(['Year', 'Month', 'Day'])[['Temp_C', 'Dew Point Temp_C', 'Wind Speed_km/h']].mean()

In [53]:
# Print daily summary
print("\nDaily Weather Summary (Avg Temperature, Dew Point, Wind Speed):")
print(daily_avg)

Daily Weather Summary (Avg Temperature, Dew Point, Wind Speed):
                   Temp_C  Dew Point Temp_C  Wind Speed_km/h
Year Month Day
2012 1     1     0.629167         -1.450000        12.666667
           2     0.041667         -6.200000        31.416667
           3   -14.416667        -21.537500        22.041667
           4   -13.645833        -19.250000        10.500000
           5    -6.750000        -11.416667        12.125000
...                   ...               ...              ...
     12    27   -5.833333         -7.387500        34.833333
           28   -6.775000         -9.175000        17.916667
           29  -11.345833        -12.841667        14.625000
           30  -11.370833        -14.179167        21.833333
           31   -5.604167         -7.766667        12.916667

[366 rows x 3 columns]

In [37]:
# Calculate Year-wise averages
yearly_avg = df.groupby('Year')[['Temp_C', 'Dew Point Temp_C', 'Wind Speed_km/h']].mean()

In [41]:
# Calculate Month-wise averages
monthly_avg = df.groupby('Month')[['Temp_C', 'Dew Point Temp_C', 'Wind Speed_km/h']].mean()

In [43]:
# Print the results
print("\nYearly Average for Temperature, Dew Point, and Wind Speed:")
print(yearly_avg)

Yearly Average for Temperature, Dew Point, and Wind Speed:
        Temp_C  Dew Point Temp_C  Wind Speed_km/h
Year
2012  8.798144          2.555294        14.945469

In [45]:
print("\nMonthly Average for Temperature, Dew Point, and Wind Speed:")
print(monthly_avg)

Monthly Average for Temperature, Dew Point, and Wind Speed:
          Temp_C  Dew Point Temp_C  Wind Speed_km/h
Month
1      -7.371505        -12.294758        18.108871
2      -4.225000         -9.221695        14.837644
3       3.121237         -3.488575        14.514785
4       7.009306         -1.934583        17.369444
5      16.237769          8.080780        12.846774
6      20.134028         11.738056        14.681944
7      22.790054         14.595430        11.887097
8      22.279301         15.644758        13.931452
9      16.484444         10.757917        14.108333
10     10.954973          6.533468        15.475806
11      0.931389         -4.179306        13.973611
12     -3.306317         -6.129032        17.614247

In [55]:
# Calculate additional statistics
# For example: Find the overall average for temperature, dew point, and wind speed
overall_avg = df[['Temp_C', 'Dew Point Temp_C', 'Wind Speed_km/h']].mean()

In [57]:

print("\nOverall Average Temperature, Dew Point, and Wind Speed:")
print(overall_avg)

Overall Average Temperature, Dew Point, and Wind Speed:
Temp_C               8.798144
Dew Point Temp_C     2.555294
Wind Speed_km/h     14.945469
dtype: float64

In [59]:
# 2. For a specific month (e.g., January 2012)
specific_month = df[df['Month'] == 1]  # Filter by month (January)

# Calculate the average for the specific month
specific_month_avg = specific_month[['Temp_C', 'Dew Point Temp_C', 'Wind Speed_km/h']].mean()

# Print the average for the specific month
print("\nAverage for January 2012:")
print(specific_month_avg)

Average for January 2012:
Temp_C              -7.371505
Dew Point Temp_C   -12.294758
Wind Speed_km/h     18.108871
dtype: float64

In [61]:
# 1. For a specific day (e.g., January 11, 2012)
specific_day = df[df['Date/Time'] == '2012-01-11']

# Calculate the average for the specific day
specific_day_avg = specific_day[['Temp_C', 'Dew Point Temp_C', 'Wind Speed_km/h']].mean()

# Print the average for the specific day
print("\nAverage for January 11, 2012:")
print(specific_day_avg)

Average for January 11, 2012:
Temp_C              -9.5
Dew Point Temp_C   -16.8
Wind Speed_km/h     17.0
dtype: float64