## 1. Description of the Dataset
Purpose: This dataset is often used in pattern recognition and classification tasks.

Variables:

SepalLengthCm: Length of the sepal (in cm) – numeric

SepalWidthCm: Width of the sepal (in cm) – numeric

PetalLengthCm: Length of the petal (in cm) – numeric

PetalLengthCm: Width of the petal (in cm) – numeric

Species: Species of the Iris flower (Setosa, Versicolor, Virginica) – categorical

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("iris.csv")

In [27]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
## Check for Missing Values
print("Missing values in each column:\n", df.isnull().sum())

Missing values in each column:
 Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
##b) Describe Function – Initial Statistics
print("Statistical summary:\n", df.describe())

Statistical summary:
                Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [14]:
##c) Variable Descriptions & Data Types
print("Data types:\n", df.dtypes)

Data types:
 Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [18]:
#d) Check Dimensions of DataFrame
print("Shape of the dataset:", df.shape)

Shape of the dataset: (150, 6)

In [38]:
#number of rows in the dataframe
len(df)

150

In [40]:
#Get column names
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [44]:
#Check unique species
df['Species'].unique()

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
Categories (3, object): ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [46]:
#Count number of records per species
df['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [52]:
#Mean sepal length for each species
df.groupby('Species')['SepalLengthCm'].mean()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_20168\2197466112.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Species')['SepalLengthCm'].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [54]:
#Max petal width for each species
df.groupby('Species')['PetalWidthCm'].max()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_20168\4265695309.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Species')['PetalWidthCm'].max()

Species
Iris-setosa        0.6
Iris-versicolor    1.8
Iris-virginica     2.5
Name: PetalWidthCm, dtype: float64

In [20]:
#4. Data Formatting & Normalization
#a) Data Types Summary
print("Summary of variable types:\n", df.dtypes.value_counts())

Summary of variable types:
 float64    4
int64      1
object     1
Name: count, dtype: int64

In [35]:
##b) Convert Data Types (if needed)
#The dataset is mostly in correct format already. But for demonstration, let’s convert species to category.

df['Species'] = df['Species'].astype('category')
print(df.dtypes)

Id                  int64
SepalLengthCm     float64
SepalWidthCm      float64
PetalLengthCm     float64
PetalWidthCm      float64
Species          category
dtype: object